<div>
    <div data-dojo-attach-point="alertDialogModal" class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="alertForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" data-dojo-attach-point="alertDialogTitle">Alert</h4>
                    </div>
                    <div class="modal-body">
                        <div class="control-message" data-dojo-attach-point="alertDialogMessage"></div>
                    </div>
                    <div class="" data-dojo-attach-point="alertDialogPrefooter"></div>
                    <div class="modal-footer">
                        <button data-dojo-attach-point="cancelButton" type="button" class="btn btn-alt btn-close" style="cursor:pointer;">Close</button>
                        <button data-dojo-attach-point="confirmButton" type="button" class="btn btn-alt btn-close" style="cursor:pointer;">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
