<div>
    <div data-dojo-attach-point="cloudMigrationDialog" class="modal fade bs-example-modal-md " tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md cloud-migration">
            <div class="modal-content cloud-migration-dialog">
                <div data-dojo-type="dijit/form/Form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title help-title cloud-migration-dialog-title">Cloud Migration Message</h4>
                    </div>
                    <div class="modal-body cloud-migration-dialog-body">
                        <div class="cloud-migration-dialog-new-url">
                            <p>HiTIDE is moving to a new URL:</p>
                            <div>
                                <a href="https://hitide.podaac.earthdatacloud.nasa.gov/">
                                    https://hitide.podaac.earthdatacloud.nasa.gov/
                                </a>
                            </div>
                        </div>
                        <p>We recommend using this new URL immediately, as the current HiTIDE URL you are visiting is 
                            scheduled to be retired in early 2023.</p>
                        <p>This is part of PODAAC's migration to the cloud. All new HiTIDE datasets will be hosted in
                            the cloud, and existing HiTIDE datasets are currently being migrated to the cloud.</p>
                        <p>These cloud hosted datasets will only be visible at the new HiTIDE URL, and are indicated with
                            a cloud icon (as seen below).</p>
                        <img src="jpl/assets/images/dataset-list-with-cloud.png" />
                        <!--
                        <div>Furthermore all new HiTIDE datasets will only be visible at the new URL.</div>
                        <p>Cloud based datasets are indicated in hitide with a cloud icon (as seen below).</p>
                        -->
                        <p>Remember to update bookmarks and links!</p>
                        <div class="cloud-migration-dialog-button-link">
                            <a href="https://hitide.podaac.earthdatacloud.nasa.gov/">Visit the new HiTIDE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
