<div data-dojo-attach-point="downloadsListingDiv">
    <div class="widgetSectionTitle">Review Granules Selected for Download</div>
    
    <div data-dojo-attach-point="downloadsListingDefaultMessage" class="downloadsListingDefaultMessage">No datasets selected, add some in <b><a class="tabSwitchLink tabSwitchLinkStyle" rel="Search">Search Datasets</a></b></div>
    
    <div data-dojo-attach-point="downloadsListingSubmitSuccess" class="downloadsListingSubmitSuccess">
        <div id="bigCheck" class="fa fa-check-circle success-check"></div>
        <div class="downloadsSuccessMessage">Download submission successful! Check the status of your download below or return to the <b><a class="tabSwitchLink tabSwitchLinkStyle" rel="Search">Search Datasets</a></b> page to start another download job.</div>
    </div>
    
    <div data-dojo-attach-point="listingNode" class="downloadsListingDatasets"></div>
</div>
