<div class="facetItemContainer">
    <span data-dojo-attach-point="facetItemKeyContainer" class="facetItemKeyContainer">
	    <span data-dojo-attach-point="faCaret" class="fa fa-angle-down faCaret"></span>
	    <span data-dojo-attach-point="faCaretActive" class="fa fa-caret-down faCaret faCaretActive"></span>
	    <span data-dojo-attach-point="facetItemKey" class="facetItemKey"></span>
	    <span data-dojo-attach-point="facetItemValuesContainer" class="facetItemValuesContainer"></span>
    </span>
</div>
