<div>
    <h3 class="widgetTitle no-selection">Select & Preview Granules</h3>
    <p class="gallery-description">
        Download matching granules for all datasets, for individual datasets, or click on a dataset to further filter and preview its granules.
    </p>
    <div data-dojo-attach-point="datasetControllerContainer"></div>
    <div data-dojo-attach-point="granulesControllerDefaultMessage" class="granulesControllerDefaultMessage">Click on a dataset in the table to explore its granules</div>
    <div data-dojo-attach-point="granulesControllerContainer" class="granulesControllerContainer"></div>
</div>
