<div>
    <h3 class="widgetTitle">Help</h3>
    <p class="gallery-description">
    </p>
    <div id="helpCarousel">
        <div id="helpSpinner">
            <div class="help-container one no-selection">
                <div class="list-group">
                    <ul class="helpList">
                        <li style="display: none">
                            <a data-dojo-attach-point="tutorialBtn" style="cursor:pointer;" alt="Start the interactive tour" title="Start the interactive tour">
                                Interactive Tour
                            </a>
                        </li>
                        <li>
                            <a alt="What is HiTIDE Data Fusion?" title="What is HiTIDE?" class="help-option" href="http://smap.jpl.nasa.gov/mission/description/" target="_blank">
                                What is HiTIDE?
                            </a>
                        </li>
                        <li>
                            <a id="aboutBtn" data-dojo-attach-point="aboutBtn" class="help-option" alt="Information about this site" title="Information about this site">
                                Helpful Links
                            </a>
                        </li>
                        <li>
                            <a id="contactBtn" data-dojo-attach-point="contactBtn" class="help-option" alt="Contact information" title="Contact information">
                                Contact
                            </a>
                        </li>
                        <li>
                            <a id="creditsBtn" data-dojo-attach-point="creditsBtn" class="help-option" alt="Credits information" title="Credits information">
                                Credits
                            </a>
                        </li>
                        <li>
                            <a id="faqBtn" data-dojo-attach-point="faqBtn" class="help-option" alt="Frequently Asked Questions" title="Frequently Asked Questions">
                                System Recommendation
                            </a>
                        </li>
                    </ul>
                    <div style="text-align: center;padding: 5px;margin: 10px 0;">
                        <h3 class="help-app-title">HiTIDE</h3>
                        <h6 class="help-app-version">version @@VERSION</h6>
                    </div>
                </div>
            </div>
            <div class="help-container two">
                <a id="helpGalleryBackBtn" class="search-result-back-btn" data-dojo-attach-point="helpGalleryBackBtn" style="cursor: pointer;position:absolute;top: 17px;left: 10px;">
                    <span class="fa fa-arrow-circle-left" style="font-size: 1.75em;vertical-align:middle;display:inline-block;"></span>
                </a>
                <div data-dojo-attach-point="aboutHelpContainer" class="hidden help-content-container">
                    <h5>Helpful Links</h5>
                    <p class="text-center">
                        <a href="https://smap4all.jpl.nasa.gov" target="_blank">TODO</a>
                        <br>
                        <a href="https://smap4all.jpl.nasa.gov" target="_blank">TODO</a>
                        <br>
                        <a href="https://smap4all.jpl.nasa.gov" target="_blank">TODO</a>
                        <br>
                    </p>
                </div>
                <div data-dojo-attach-point="aboutContactContainer" class="hidden help-content-container">
                    <h5>Contact</h5> Problems or Suggestions? We welcome any feedback you have on this tool. If there are additional features you would like to see, let us know!
                    <br />
                    <span style="width:100%;text-align:center;display:inline-block;padding:5px;font-size: 1.2em;"><a href="mailto:smapbrowse@jpl.nasa.gov" style="text-decoration:underline;color:#87AFE2">smapbrowse@jpl.nasa.gov</a></span>
                </div>
                <div data-dojo-attach-point="aboutFAQContainer" class="hidden help-content-container">
                    <h5>System Recommendations</h5> To best experience the HiTIDE client, we recommend using one of the following WebGL enabled browsers:
                    <ol>
                        <li>Google Chrome 18+</li>
                        <li>Mozilla Firefox 4.0+</li>
                        <li>Apple Safari 8+</li>
                    </ol>
                    <p>
                        Older browser versions will work, but you will not have the ability to experience the 3D globe. To check if your browser supports WebGL, you can visit <a href="https://get.webgl.org/">https://get.webgl.org</a>.
                    </p>
                    <p>
                        <strong>Internet Explorer Support:</strong> Although Internet Explorer 10+ is supported, we suggest using Chrome, Firefox or Safari for a better experience.
                    </p>
                </div>
                <div data-dojo-attach-point="aboutCreditsContainer" class="hidden help-content-container">
                    <h5>Credits</h5>
                    <div style="text-align:center;padding:10px;">
                        <a href="http://www.jpl.nasa.gov/" target="_blank">
                            <img src="./jpl/assets/images/jpl-logo-large.png" style="margin-bottom:20px;width:230px;" alt="NASA Jet Propulsion Laboratory California Institute of Technology" title="NASA Jet Propulsion Laboratory California Institute of Technology">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
