<div>
    <div class="laoContainer no-selection" data-dojo-attach-point="container">
        <div data-dojo-attach-point="labelDiv" class="laoLabelDiv"><span class="laoLabel" data-dojo-attach-point="label"></span><span data-dojo-attach-point="toggleButton" class="laoToggle fa fa-angle-double-up"></span></div>
        <div class="laoDatasetsContainer" data-dojo-attach-point="datasetsContainer">
            <div class="laoNoDatasets" data-dojo-attach-point="noDatasetsMessage">View variable legends and change footprint and variable preview opacity for datasets you've selected in <b><a class="tabSwitchLink tabSwitchLinkStyle" rel="Search">SEARCH DATASETS</a></b></div>
        </div>
    </div>
    <div class="hoverValueDisplay clearFix" data-dojo-attach-point="hoverValueDisplay">
        <div class="displayColor" data-dojo-attach-point="displayColor"></div>
        <div class="displayValue" data-dojo-attach-point="displayValue"></div>
    </div>
</div>
