<div class='no-selection'>
    <div class='mapDrawContainer' data-dojo-attach-point="mapDrawContainer">
        <div class='mapDrawFunctionsContainer' data-dojo-attach-point="mapDrawFunctionsContainer">
            <span class='mapDrawFunctionText mapDrawConfirm' data-dojo-attach-point="mapDrawConfirm">Confirm</span>
            <span class='mapDrawIconsContainer'>
            <span class='mapDrawShape fa fa-square-o' data-dojo-attach-point="mapDrawShape"></span>
            <span class='mapDrawIconSpacer'></span>
            <span class='mapDrawEdit fa fa-pencil' data-dojo-attach-point="mapDrawEdit"></span>
            </span>
            <span class='mapDrawFunctionText mapDrawCancel' data-dojo-attach-point="mapDrawCancel">Cancel</span>
        </div>
        <div class='mapDrawTipsContainer' data-dojo-attach-point="mapDrawTipsContainer">
            <div class='mapDrawTipsTitle'>Shortcuts</div>
            <div class='mapDrawTip'>Hold CTRL to pan the map</div>
            <div class='mapDrawTip'>Use Arrow Keys for fine adjustments</div>
            <div class='mapDrawTip'>Press ENTER to <span style='color:green'>confirm</span></div>
            <div class='mapDrawTip'>Press ESCAPE to <span style='color:red'>cancel</span></div>
        </div>
    </div>
</div>
