<div>
    <div data-dojo-attach-point="scaleBarModal" class="modal scaleBarModal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Select Scale Bar Units</h4>
                </div>
                <div class="modal-body" style="font-size:1.1em;">
                    <div data-dojo-attach-point="scaleBarModalListGroup" class="scaleBarList"></div>
                </div>
            </div>
        </div>
    </div>
</div>
