<div>
    <div class="searchMetadataSection card activeMetadataSection" id="searchMetadataOverview" data-dojo-attach-point="searchMetadataOverview">Dataset Overview</div>
    <div class="searchMetadataSection card" id="searchMetadataVariables" data-dojo-attach-point="searchMetadataVariables">Dataset Variables</div>
    <div class="searchMetadataSection card" id="searchMetadataAvailability" data-dojo-attach-point="searchMetadataAvailability">Granule Availability</div>
    <div class="searchMetadataContentContainer card" data-dojo-attach-point="searchMetadataContentContainer">
        <div class="searchMetadataContentDefault" data-dojo-attach-point="searchMetadataContentDefault"></div>
        <div class="searchMetadataContent" data-dojo-attach-point="searchMetadataOverviewContent">
            <div class='searchMetadataOverviewItem'>
                <span class='searchMetadataOverviewLabel'>Short Name:</span>
                <span class='searchMetadataOverviewValue' data-dojo-attach-point="searchMetadataOverviewShortName"></span>
            </div>
            <div class='searchMetadataOverviewItem'>
                <span class='searchMetadataOverviewLabel'>Long Name:</span>
                <span class='searchMetadataOverviewValue' data-dojo-attach-point="searchMetadataOverviewLongName"></span>
            </div>
            <div class='searchMetadataOverviewItem'>
                <span class='searchMetadataOverviewLabel'>Along/Across Track Resolution:</span>
                <span class='searchMetadataOverviewValue' data-dojo-attach-point="searchMetadataOverviewAlongAcrossRes"></span>
            </div>
            <div class='searchMetadataOverviewItem'>
                <span class='searchMetadataOverviewLabel'>Start/End Date:</span>
                <span class='searchMetadataOverviewValue' data-dojo-attach-point="searchMetadataOverviewStartEndDate"></span>
            </div>
            <div class='searchMetadataOverviewItem'>
                <span class='searchMetadataOverviewLabel'>Description:</span>
                <span class='searchMetadataOverviewValue' data-dojo-attach-point="searchMetadataOverviewDescription"></span>
            </div>
            <div class='searchMetadataOverviewItem'>
                <span class='searchMetadataOverviewLabel'>Dataset Thumbnail</span>
                <img class='searchMetadataOverviewImg' src="" data-dojo-attach-point="searchMetadataOverviewImage"></span>
            </div>
        </div>
        <div class="searchMetadataContent" data-dojo-attach-point="searchMetadataVariablesContent"></div>
        <div class="searchMetadataContent" data-dojo-attach-point="searchMetadataAvailabilityContent"></div>
    </div>
</div>
